<%- include('../partials/head')%>
		
	<div class="container" id="crform">
			<a class="btn" style="background: #72d2ff; margin: 25px 0;" href="/evaluados/<%= idt %>">Regresar</a>
			<h1>Agregar Evaluado</h1>
			
		<div id="nuevo">
			<form action="/evaluados/<%= idt %>" method="post">

				<div class="form-row">
					 <div class="form-col" style="width: 98%;">
					<label for="evaluadores">Agregar Evaluacion (separar por reglones en formato nombre,categoria,posicion,contacto):</label>
					<textarea id="evaluadores" name="evaluadores" rows="10" cols="50">Ejemplo:
						Emilio Díaz,AUTOEVALUACIÓN ,Coordinador de localidades,ediaz-torre@legionaries.org
						Diego Reynoso, Colega, Coordinador de localidades, dreynoso@arcol.org</textarea>
					</div>
				</div>
					
                <button>Enviar</button>
         	</form>
		</div>
    </div>

	</body>
<%- include('../partials/footer')%>	
