<%- include('partials/head')%>

		<div class="container">
			
			<% if(wrong && wrong.length) {%>
			<div class="alert alert-danger" role="alert" style="text-align: center; margin-top: 10px;"><%=wrong%></div>
			<%}%>
			
			<div class="jumbotron" style="margin-top: 50px">
			  <h1 class="text-center" style="font-weight: 700">SomosRC <br>Recursos Humanos</h1>
			  <hr>
				<center><img alt="RClogo" loading="lazy" class="form-image" style="border:0" src="/images/RC_Color_Horizontal.png" height="135px" width="618px"></center>
			<hr>
			</div>
			
			
		</div>
		
	</body>
<%- include('partials/footer')%>