body {
	background: #970202 !important;
}

#crform{
	background: #EEEEEE; 
	padding: 50px 50px;
}

#butif{
	position: absolute;
    right: 15%;
    top: 180px;
}

#agregar{
	position: absolute;
    right: 15%;
    top: 100px;
}

#nuevo{
	background: #adc2ffd4;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px 5%;
    width: 100%;
    margin: 50px 0;
}

.long{
	width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
	justify-content: space-evenly;
	gap: 15PX;
}

.form-col {
    display: flex;
    flex-direction: column;
	width: 48%;
}

.input-field {
    position: relative;
    margin-top: 2rem;
}

.input-field input {
    padding: 0.8rem;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

#nuevo form button {
    background: linear-gradient(to left, #3470ff, #7a25ff);
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
}

#nuevo form button:hover {
	filter: brightness(0.8);
	transition: all 0.5s;
}

#nuevo form input, #nuevo form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#loginf form input{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(229 229 255);
  border-radius: 5px;
}

.menuc{
	display: flex;
	justify-content: space-evenly;
}

.menuop{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
    background: #b5b5b5a6;
    border-radius: 20px;
    width: 220px;
    height: 180px;
}

.menuop img{
	width: 100px;
	height: 100px;
}

.alert {
    font-size: 1.5em;
}

.btn-danger{
	margin-bottom: 20px !important;
}

img{
display:inline-block;
}

.navbar-header{
	background: #141414;
}

.container-fluid{
	background: #141414;
}

.btn-danger{
	 width: 100px;
}

/* Formularios */
.form-value{
	text-align: center;
	background: #F5F5F5;
	border: 1px solid #ccc;
}
.form-th{
	font-size: 0.9em;
	font-weight: normal;
	text-align: center;
	border: 1px solid #ccc;
	background: #ddd;
}
.label-preg{
	color: #555;
	font-weight: bold;
	margin-bottom: 20px;
}
form hr{
	width: 100%;
	margin: 10px
}
form .hr-big{
	margin: 30px
}

.disable{
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
}